body {
  margin: 0;
  color: white;

}

::-webkit-scrollbar {
  background-color: blueviolet;
  width: 5px;
  border-radius: 12px;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 0px 60px 0px 60px;
}

.nav {
  gap: 20px;
  background-color: blueviolet;
  position: fixed;
  padding: 10px 0px 10px 0px;
  width: 100%;
  z-index: 99;
}


.nav span img {
  border-radius: 50%;
}

.nav-items {
  gap: 20px;
  list-style: none;
}

.nav-items li {
  cursor: pointer;
}

input,
textarea,
button {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid blueviolet;
}

.nav-items li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-title {
  margin-left: 10px;
  color: white;
  font-size: 15px;

}

h3 {
  color: blueviolet;
}

input,
textarea {
  width: 100%;
}

.form-control {
  gap: 40px;
  width: 390px;
}



.add-modal {
  background-color: blueviolet;
  margin-top: 80px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.recipe-card {
  background-color: blueviolet;
  border-radius: 12px;
  width: 220px;
  padding: 10px;
  height: 228px;
}

.recipe-card h4 {
  color: blueviolet;
  padding: 10px;
  bottom: 173px;
  width: 180px;
  text-align: center;
  border-radius: 10px;
  left: 9px;
  opacity: .8;
  position: relative;
  background: white;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgoldenrod;
  width: 100%;
  cursor: pointer;
  margin-left: 10px;
}

img {
  border-radius: 10px;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container-top .slide {
  display: flex;
  gap: 50px;
}

.slides-container-top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 50%);
  grid-auto-flow: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  list-style: none;
  gap: 55px;
  margin: 0;
  padding: 0;
}

.slides-container-top::-webkit-scrollbar {
  width: 0;
  background-color: white;
}

.slides-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-flow: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  background-color: white;
}



.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 5rem;
  border: none;
  font-size: 5rem;
  padding: 0;
  cursor: pointer;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  background-color: none;
  color: blueviolet;
  left: 30px;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  color: blueviolet;
  right: 30px;
  border-radius: 2rem 0 0 2rem;
}


p {
  color: #000;
}

.home-page {
  display: flex;
  width: 100%;
  padding-top: 60px;
  flex-direction: column;
}

.slide div p {
  font-size: 17px;
  width: 500px;
}

.recipe-page {
  min-height: 700px;
  padding: 64px 42px 60px 36px;


}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipes-list h1 {
  text-align: center;
  color: black;
}


.delete,
.edit,
.view {
  background-color: whitesmoke;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete .material-icons,
.view .material-icons,
.edit .material-icons {
  font-size: 16px;
}

.delete {
  color: red;
}

.edit {
  color: green;
  top: 10px;
}

.view {
  color: blue;
  top: 10px;
}

.action-btn {
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
}

.action-btn h5 {
  font-size: 16px;
}

.footer {
  background-color: blueviolet;
  padding: 20px 60px 20px 60px;
  text-align: center;
  margin-left: 2%;
  border-radius: 12px;
  width: 89%;
  margin-bottom: 10px;
}

.hide-menu {
  display: none;
}

.show-menu {
  display: none;
}

.show-close {
  display: none;
}

.hide-close {
  display: none;
}

.slide img {
  height: 300px;
  width: 300px;
}

.nav-items-mobile {
  display: none;
}

/*  Responsiveness */
@media (min-width: 320px) and (max-width:376px) {
  .container {
    padding: 10px;
  }

  .slider-wrapper {
    padding: 0px;
  }

  .slides-container {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-auto-flow: column;
  }

  .slides-container-top {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-auto-flow: column;

  }

  .slides-container-top .slide {
    flex-direction: column-reverse;
  }

  .slides-container-top .slide div p {
    display: none;
  }

  .nav-title {
    font-size: 12px;
  }

  .nav-items-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: blueviolet;
    list-style: none;
    position: fixed;
    z-index: 999;
    top: 55px;
    width: 100%;
    align-items: center;
    color: white;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px 10px 10px;
    padding:0px 10px 0px 10px;
  }

  .nav {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .nav-items-mobile li {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    width: 280px;
    color: white;
    background-color: white;
  }

  .nav-items-mobile li a {
    text-decoration: none;
  }

  .nav span img {
    margin-top: 5px;
  }

  .hide-menu {
    display: none;
  }

  .show-close {
    display: block;
  }

  .hide-close {
    display: none;
  }

  .show-menu {
    display: block;
    font-size: 25px !important;
  }

  .nav-items {
    display: none;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width:375px) and (max-width:426px) {
  .container {
    padding: 10px;
  }

  .slider-wrapper {
    padding: 0px;
  }

  .slides-container {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-auto-flow: column;
  }

  .slides-container-top {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-auto-flow: column;

  }

  .slides-container-top .slide div p {
    display: none;
  }

  .nav-title {
    font-size: 12px;
  }

  .nav-items-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: blueviolet;
    list-style: none;
    position: fixed;
    z-index: 999;
    top: 55px;
    width: 100%;
    align-items: center;
    color: white;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px 10px 10px;
  }

  .nav {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .nav-items-mobile li {
    padding: 5px;
    border-radius: 12px;
    width: 280px;

    color: white;
    background-color: white;
  }

  .nav-items-mobile li a {
    text-decoration: none;
  }

  .nav span img {
    margin-top: 5px;
  }

  .hide-menu {
    display: none;
  }

  .show-close {
    display: block;
  }

  .hide-close {
    display: none;
  }

  .show-menu {
    display: block;
    font-size: 25px !important;
  }

  .nav-items {
    display: none;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width:426px) and (max-width:767px) {
  .container {
    padding: 10px;
  }

  .slider-wrapper {
    padding: 0px;
  }

  .slides-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-auto-flow: column;
  }

  .slides-container-top {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-auto-flow: column;

  }



  .nav-title {
    font-size: 12px;
  }

  .nav-items-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: blueviolet;
    list-style: none;
    position: fixed;
    z-index: 999;
    top: 55px;
    width: 100%;
    align-items: center;
    color: white;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px 10px 10px;
  }

  .nav {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .nav-items-mobile li {
    padding: 5px;
    border-radius: 12px;
    width: 375px;
    color: white;
    background-color: white;
  }

  .nav-items-mobile li a {
    text-decoration: none;
  }

  .nav span img {
    margin-top: 5px;
  }

  .hide-menu {
    display: none;
  }

  .show-close {
    display: block;
  }

  .hide-close {
    display: none;
  }

  .show-menu {
    display: block;
    font-size: 25px !important;
  }

  .nav-items {
    display: none;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width:768px) and (max-width:1025px) {

  .form-control {
    gap: 40px;
    width: 320px;
  }

  .slider-wrapper {
    padding: 0px;
    margin: 0;
  }


  .slide div p {
    font-size: 12px;
    width: 230px;
  }

  .slide div h3 {
    margin: 0;
  }

  #slide-arrow-prev {
    padding-left: 0px;
    left: 0px;
  }

  #slide-arrow-next {
    padding-left: 0px;
    right: 0px;
  }
}

@media (min-width:1025px) and (max-width:1281px) {

  .slider-wrapper {
    padding-left: 10px;
  }

  .nav-items-mobile {
    width: 100%;
  }

  .slide div p {
    font-size: 13px;
    width: 400px;
  }

  .slide div h3 {
    margin: 0;
  }

  #slide-arrow-prev {
    padding-left: 0px;
    left: 20px;
  }

  #slide-arrow-next {
    padding-left: 0px;
    right: 20px;
  }
}

@media (min-width:1280px) and (max-width:1537px) {

  .slider-wrapper {
    padding-left: 10px;
  }


  .slide div p {
    font-size: 13px;
    width: 400px;
  }

  .slide div h3 {
    margin: 0;
  }

  #slide-arrow-prev {
    padding-left: 0px;
    left: 20px;
  }

  #slide-arrow-next {
    padding-left: 0px;
    right: 20px;
  }
}