body {
  margin: 0;
  color: white;

}

::-webkit-scrollbar {
  background-color: blueviolet;
  width: 5px;
  border-radius: 12px;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 0px 10px 60px 10px;
  justify-content: center;
  margin-top: 20px;
}

.nav {
  gap: 20px;
  background-color: blueviolet;
  padding: 0px 60px 10px 60px;
  position: fixed;
  width: 89%;
  margin-left: 2%;
  align-items: center;
  z-index: 99;
  border-radius: 12px;
}

.nav span img {
  border-radius: 50%;
}

.nav ul {
  gap: 20px;
  list-style: none;
}

.nav ul li {
  cursor: pointer;
}

input,
textarea,
button {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid blueviolet;
}

.nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-title {
  margin-left: 10px;
  color: white;

}

h3 {
  color: blueviolet;
}

input,
textarea {
  width: 290px;
}

.add-modal {
  background-color: blueviolet;
  margin-top: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.recipe-card {
  background-color: blueviolet;
  border-radius: 12px;
  width: 220px;
  padding: 10px;
  height: 228px;
}

.recipe-card h4 {
  color: blueviolet;
  padding: 10px;
  bottom: 173px;
  width: 180px;
  text-align: center;
  border-radius: 10px;
  left: 9px;
  opacity: .8;
  position: relative;
  background: white;
}

.submit-btn {
  background-color: darkgoldenrod;
  width: 290px;
  cursor: pointer;
}

.slider {
  gap: 20px
}

img {
  border-radius: 10px;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  padding: 0px 120px 10px 120px; /* top right bottom left */
}

.slide-box {
  display: flex;
  width: 1248px;
  gap: 50px;
}

.slides-container {
  width: 100%;
  display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  background-color: white;
}

.slide {
  display: flex;
  gap: 15px
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 5rem;
  border: none;
  width: 3rem;
  font-size: 5rem;
  padding: 0;
  cursor: pointer;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  background-color: none;
  color: blueviolet;
  left: 10px;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  color: blueviolet;
  right: 10px;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}


p {
  color: #000;
}

.home-page {
  display: flex;
  width: 100%;
  padding-top: 60px;
  flex-direction: column;
}

.slide-box div p {
  font-size: 17px;
  width: 500px;
}

.recipe-page {
  min-height: 700px;
  padding: 60px 16px 60px 16px;

}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.delete,
.edit,
.view {
  background-color: whitesmoke;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete .material-icons,
.view .material-icons,
.edit .material-icons {
  font-size: 16px;
}

.delete {
  color: red;
}

.edit {
  color: green;
  top: 10px;
}

.view {
  color: blue;
  top: 10px;
}

.action-btn {
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
}

.action-btn h5 {
  font-size: 16px;
}

.footer {
  background-color: blueviolet;
  padding: 20px 60px 20px 60px;
  text-align: center;
  margin-left: 2%;
  border-radius: 12px;
  width: 89%;
  margin-bottom: 10px;
}



/*  Responsiveness */
@media screen and (max-width: 768px) {}